@import url(_variable.css);
@import url(../components/header.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    background-color: var(--Light-blue-bg);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
  }
  
.container {
  margin-inline: auto;
  padding: 2.4rem 1.6rem;
    

  }
  
.wrapper { 
    
    
  }

    
  @media  (min-width: 320px) and (min-width: 720px) {
    .container {
      width: 100vw;
    }
  }

  @media (min-width: 721px) and (min-width: 900px) {
    body {
      display: flex;
      gap: 8rem;
      padding: 0 4rem;
    }

    .container {
      height: 100vh;
    }
 
    header.container {
      width: 10%;
    }

  }
  