:root {
    --Dark-blue-300: #0A3871;
    --Dark-blue-400: #072B61;

    --Light-blue-bg: #F3F5FC;
    --Light-blue-300: #E9ECF8;
    --Light-blue-400: #AAB2D5;

    --Gray-300: #868E96;
    --Gray-400: #495057;
    --Gray-500: #343A40;

    font-size: 62.5%;
}