@import url(../base/base.css);


.main__boxInputText .form__btn {
  display: flex;
  flex-direction: column;

  margin-top: 1.2rem; 
  width: 100%;
}


.btn {
    background: var(--Dark-blue-300);
    box-sizing: content-box;
    border-radius: 2.4rem;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Inter' sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    height: 2.4rem;
    line-height: 19.36px;
    margin-bottom: 2.4rem;
    padding: 2.4rem;
    transition: background 0.3s
  }
  
  .btn:hover {
    background: var(--Dark-blue-400);
  }

  .btn--stroke {
    background: none;
    border: solid 0.1rem var(--Dark-blue-300);
    color: var(--Dark-blue-300);
    
  }
  
  .btn--stroke:hover {
    background: var(--Light-blue-400);
  }
    