@import url(./components/button.css);
@import url(./components/card-text.css);
@import url(./components/input-text.css);


.footer .rodape__paragrafo {
    color: var(--Gray-300);
    font-size: 1.4rem;
    line-height: 150%;
    text-align: center;
  }


@media (min-width: 721px) and (min-width: 900px) {
    .footer {
      display: none;
    }

    .main {
      display: flex;
      gap: 8rem;
    }

    .main__boxInputText {
      flex: 2;
    }

    .main__boxOutputText {
      flex: 1;
    }
}

