* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-blue-300: #0A3871;
  --Dark-blue-400: #072B61;

  --Light-blue-bg: #F3F5FC;
  /* --Light-blue-bg: #F3F5FC; */
  --Light-blue-300: #E9ECF8;
  --Light-blue-400: #AAB2D5;

  --Gray-300: #868E96;
  --Gray-400: #495057;
  --Gray-500: #343A40;

  font-size: 62.5%;
}

body {
  background-color: var(--Light-blue-bg);
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
}

.header {
  border: 1px black solid;
  display: flex;
  padding: 2.4rem 1.6rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.main__boxInputText > .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input .form__input___textarea {
  width: 100%;
}





/* .box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.4s;
}

.btn:hover {
  background-color: rgb(60, 112, 255);
  
}

.btn:active {
  background-color: blue;
  transform: scale(0.98)
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

.rodape {
  display: flex;
  justify-content: center;
  
  margin-top: 5rem;
  width: 100%
}

/* .text-input:focus{
  color: red;
} */